<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MVC Architecture Product</title>
  </head>
  <body>
    <form method="POST" actions="/products">
      <input
        type="text"
        name="name"
        id="name"
        placeholder="Enter Your Product Name"
      />
      <input
        type="number"
        name="price"
        id="price"
        placeholder="Enter Your Price"
      />
      <button type="submit">Save Product</button>
    </form>
  </body>
</html>
